<div class="container mt-xlg">
  <div class="row center">
    <div class="col-md-12 mb-xlg">
      <img src="LogoExCoin.png" style="max-height: 100px;" />
      <h2 class="text-dark mb-xs text-weight-light mt-xlg">Universal <strong>Exchange</strong></h2>
      <p>Hello intergalactic visitor, welcome to the universal coin conversion portal galaxy.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">{{title}}</h2>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 mb-md">
            <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" (keyup.enter)="addPost(rForm.value)">
              <div class="input-group">
                <input class="form-control input-lg" placeholder="What do you want?" type="text" formControlName="entrada" />
                <span class="input-group-addon">
                  <button type="submit" class="btn" [disabled]="!rForm.valid">
                    <i class="fa fa-calculator"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <div class="alert {{statusSaida}}">
              <div class="row">
                <div class="col-md-12">
                  {{valorRomano}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-3">
  </div>
</div>
